div, p {
    color: green;
}

.red-p {
    color: red;
}

p span {
    color: green;
}

.blue-p {
    color: blue;
} 

.blue-p  span {
    color: yellow;
}

strong span {
    color: pink;
}

[data-foo] {
    color: violet;
}

.super-strange-paragraph:hover span {
    color: red;
}